@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  background-color: #e2e2e2;
  font-family: sans-serif;
  padding-left: 1rem;

  }

*, *::before, *::after {
  box-sizing: inherit;
}

div .btn a {
  text-decoration: none;
  background-color: #555;
  color: #e2e2e2;
  padding: 1rem;
  border-radius: 4px;
}

section .content .img-flex {
  display: inline-block;
  width: 48%;
}

h1 {

}
